@media (max-width: 390px) {
    .main-content__image {
        animation-duration: 2.5s;
        animation-name: flex-reveal;
        background-image: url(../images/robot-preview.png);
        background-size: cover;
        height: 150px;
        justify-self: center;
        margin: 18px;
        transform: scaleX(-1);
        width: 150px;
    }

    .main-content__image:hover {
        cursor: pointer;
    }

    .main-content__image:active {
        background-image: url(../images/robot-idle.gif);
    }

    @keyframes flex-reveal {
        0% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;
        }
    }

    .main-content__title {
        /* position: relative; */
        background-color: #4E6472;
        color: #fff;
        margin: 0 0 0 18px;
        max-width: fit-content;
        padding: 6px 48px 6px 48px;
    }

    .main-content__title--type {
        background-color: #A69286;
        color: #fff;
        font-size: 1rem;
        font-weight: 100;
        justify-self: center;
        margin: 12px 0 0 0;
        max-width: fit-content;
        padding: 6px 18px 6px 18px;
    }

    .flex__image {
        background-image: url(../images/robot-run.gif);
        background-size: cover;
        height: 60px;
        position: absolute;
        width: 60px;
    }

    .flex__parent {
        /* background-color: lightblue; */
        background-color: #fff;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        font-size: 2.5rem;
        margin: 0 18px 18px 18px;
        min-width: min-content;
        padding: 6px;
    }

    .flex__parent--hidden {
        display: flex;
        height: 0;
        margin: 0 24px 0 24px;
        position: relative;
        top: 6px;
        width: inherit;
    }

    .flex__child {
        height: 60px;
        padding: 5px;
        text-align: center;
        width: 60px;
    }

    .green {
        background-color: #CCE7ED;
    }

    .blue {
        background-color: #A1C2C9;
    }

    .red {
        background-color: #85A0A6;
    }

    .yellow {
        background-color: #64787D;
    }

    .indigo {
        background-color: #435154;
        display: none;
    }

    .flex__child--hidden {
        height: 60px;
        width: 60px;
    }

    .fifth {
        display: none;
    }

    .sixth {
        display: none;
    }

    .flex--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: flex;
    }

    @keyframes flex {
        0% {
            left: 0px;
        }

        100% {
            left: calc(3 * 60px);
        }
    }

    .flex__end {
        justify-content: flex-end;
    }

    .flex__end--hidden {
        justify-content: flex-end;
    }

    .flex__end--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: flex-end;
        position: relative;
    }

    @keyframes flex-end {
        0% {
            right: calc(3 * 60px);
        }

        100% {
            right: 0px;
        }
    }

    .flex__center {
        justify-content: center;
    }

    .flex__center--hidden {
        justify-content: center;
    }

    .flex__center--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: flex-center;
        position: relative;
    }

    @keyframes flex-center {
        0% {
            left: 0;
        }

        100% {
            left: calc(60px * 3);
        }
    }

    .flex__space-between {
        justify-content: space-between;
    }

    .flex__space-between--hidden {
        justify-content: space-between;
    }

    .flex__space-between--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: space-between;
        position: relative;
    }

    @keyframes space-between {
        0% {
            left: 0;
        }

        100% {
            left: calc(100% - 60px);
        }
    }

    .flex__space-around {
        justify-content: space-around;
    }

    .flex__space-around--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: space-around;
        position: relative;
    }

    @keyframes space-around {
        0% {
            left: 0%;
        }

        100% {
            left: 75%;
        }
    }

    .flex__row-reverse {
        flex-direction: row-reverse;
    }

    .flex__row-reverse--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: row-reverse;
        transform: scaleX(-1);
    }

    @keyframes row-reverse {
        0% {
            right: 0px;
        }

        100% {
            right: calc(3 * 60px);
        }
    }

    .main-content--columns {
        color: #fff;
        display: flex;
        flex-direction: row;
        font-size: 2.5rem;
        justify-content: center;
    }

    .flex__column {
        flex-direction: column;
    }

    .flex__column--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: column;
    }

    @keyframes column {
        0% {
            top: 0px;
            left: 0px;
        }

        100% {
            top: calc(3 * 60px);
            left: 0px;
        }
    }

    .flex__column-reverse {
        flex-direction: column-reverse;
    }

    .flex__column-reverse--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: column-reverse;
    }

    @keyframes column-reverse {
        0% {
            top: calc(3 * 60px);
        }

        100% {
            top: 0px;
        }
    }
}

@media (min-width: 391px) {
    .main-content__image {
        animation-duration: 2.5s;
        animation-name: flex-reveal;
        background-image: url(../images/robot-preview.png);
        background-size: cover;
        height: 175px;
        justify-self: center;
        margin: 32px;
        transform: scaleX(-1);
        width: 175px;
    }

    .main-content__image:hover {
        cursor: pointer;
    }

    .main-content__image:active {
        background-image: url(../images/robot-idle.gif);
    }

    @keyframes flex-reveal {
        0% {
            opacity: 0%;
        }

        100% {
            opacity: 100%;
        }
    }

    .main-content__title {
        /* position: relative; */
        background-color: #4E6472;
        color: #fff;
        font-size: 1.5rem;
        margin: 0 0 0 18px;
        max-width: fit-content;
        padding: 6px 48px 6px 48px;
    }

    .main-content__title--type {
        background-color: #A69286;
        color: #fff;
        font-size: 1.25rem;
        font-weight: 100;
        justify-self: center;
        margin: 12px 0 0 0;
        max-width: fit-content;
        padding: 6px 18px 6px 18px;
    }

    .flex__image {
        background-image: url(../images/robot-run.gif);
        background-size: cover;
        height: 80px;
        position: absolute;
        width: 80px;
    }

    .flex__parent {
        /* background-color: lightblue; */
        background-color: #fff;
        color: #fff;
        display: flex;
        flex-wrap: wrap;
        font-size: 3.5rem;
        margin: 0 18px 18px 18px;
        min-width: min-content;
        padding: 6px;
    }

    .flex__parent--hidden {
        display: flex;
        height: 0;
        margin: 0 24px 0 24px;
        position: relative;
        top: 6px;
        width: inherit;
    }

    .flex__child {
        height: 80px;
        padding: 5px;
        text-align: center;
        width: 80px;
    }

    .green {
        background-color: #CCE7ED;
    }

    .blue {
        background-color: #A1C2C9;
    }

    .red {
        background-color: #85A0A6;
    }

    .yellow {
        background-color: #64787D;
    }

    .indigo {
        background-color: #435154;
        /* display: none; */
    }


    .flex__child--hidden {
        height: 80px;
        width: 80px;
    }

    .fifth {
        display: ;
    }


    .flex--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: flex;
    }

    @keyframes flex {
        0% {
            left: 0px;
        }

        100% {
            left: calc(4 * 80px);
        }
    }

    .flex__end {
        justify-content: flex-end;
    }

    .flex__end--hidden {
        justify-content: flex-end;
    }

    .flex__end--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: flex-end;
        position: relative;
    }

    @keyframes flex-end {
        0% {
            right: calc(4 * 80px);
        }

        100% {
            right: 0px;
        }
    }

    .flex__center {
        justify-content: center;
    }

    .flex__center--hidden {
        justify-content: center;
    }

    .flex__center--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: flex-center;
        position: relative;
    }

    @keyframes flex-center {
        0% {
            left: 0;
        }

        100% {
            left: calc(80px * 4);
        }
    }

    .flex__space-between {
        justify-content: space-between;
    }

    .flex__space-between--hidden {
        justify-content: space-between;
    }

    .flex__space-between--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: space-between;
        position: relative;
    }

    @keyframes space-between {
        0% {
            left: 0;
        }

        100% {
            left: calc(100% - 80px);
        }
    }

    .flex__space-around {
        justify-content: space-around;
    }

    .flex__space-around--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: space-around;
        position: relative;
    }

    @keyframes space-around {
        0% {
            left: 0%;
        }

        100% {
            left: 80%;
        }
    }

    .flex__row-reverse {
        flex-direction: row-reverse;
    }

    .flex__row-reverse--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: row-reverse;
        transform: scaleX(-1);
    }

    @keyframes row-reverse {
        0% {
            right: 0px;
        }

        100% {
            right: calc(4 * 80px);
        }
    }

    .main-content--columns {
        color: #fff;
        display: flex;
        flex-direction: row;
        font-size: 2.5rem;
        justify-content: center;
    }

    .flex__column {
        flex-direction: column;
    }

    .flex__column--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: column;
    }

    @keyframes column {
        0% {
            top: 0px;
            left: 0px;
        }

        100% {
            top: calc(4 * 80px);
            left: 0px;
        }
    }

    .flex__column-reverse {
        flex-direction: column-reverse;
    }

    .flex__column-reverse--animation {
        animation-duration: 4s;
        animation-iteration-count: infinite;
        animation-name: column-reverse;
    }

    @keyframes column-reverse {
        0% {
            top: calc(4 * 80px);
        }

        100% {
            top: 0px;
        }
    }
}