* {
    box-sizing: border-box;
}

a {
    display: grid;
    text-decoration: none;
}

@media (max-width: 390px) {
    body {
        background-color: #D8F0F2;
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        min-height: 100vh;
        display: grid;
        grid-template-rows: auto 1fr auto;

    }

    p {
        margin: 0;
    }

    em {
        background-color: #A69286;
        color: #fff;
        padding: 0 6px 0 6px;
    }

    br {
        content: "";
        display: block;
        margin-top: 12px;
    }

    .header {
        background-color: #A1C2C9;
        margin: 0 0 18px;
        min-height: fit-content;
        padding: 32px 0 0 0;
    }

    .header__page-title {
        color: #0D0D0D;
        font-size: 5rem;
        margin: 0;
        text-align: center;
    }

    .topnav {
        margin: 32px 0 0 0;
        overflow: hidden;
    }

    .topnav a {
        color: #F3F3FD;
        display: block;
        float: left;
        padding: 14px 16px;
        text-align: center;
        text-decoration: none;
        transition-property: background-color;
        transition-duration: 0.25s;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav--active {
        background-color: #4E6472;
    }


    .main-content {
        background-color: #D8F0F2;
        display: grid;
        height: max-content;
        padding: 12px;
    }

    .main-content__paragraph {
        /* border-radius: 24px; */
        background-color: #fff;
        font-size: 1rem;
        margin: 0 18px 18px 18px;
        padding: 24px;
    }

   

    .button {
        background-color: #A1C2C9;
        border: none;
        font-size: 1rem;
        justify-self: center;
        padding: 12px 32px;
        width: max-content;
        transition-property: background-color;
        transition-duration: 0.25s;
    }

    .button:hover {
        background-color: #85A0A6;
        cursor: pointer;
    }

    .footer {
        background-color: #C2B4A7;
        display: grid;
        font-size: 0.75rem;
        justify-content: center;
        margin-bottom: 0;
        padding: 24px;
        text-align: center;
        width: 100%;
    }

   
}

@media (min-width: 391px) {
    body {
        background-color: #D8F0F2;
        display: grid;
        font-family: Arial, Helvetica, sans-serif;
        grid-template-rows: auto 1fr auto;
        margin: 0;
        min-height: 100vh;

    }

    p {
        margin: 0;
    }

    em {
        background-color: #A69286;
        color: #fff;
        padding: 0 6px 0 6px;
    }

    br {
        content: "";
        display: block;
        margin-top: 12px;
    }

    .header {
        background-color: #A1C2C9;
        margin: 0 0 48px;
        min-height: fit-content;
        padding: 32px 0 0 0;
    }

    .header__page-title {
        color: #0D0D0D;
        font-size: 5.5rem;
        margin: 0;
        text-align: center;
    }

    .topnav {
        margin: 32px 0 0 0;
        overflow: hidden;
    }

    .topnav a {
        color: #F3F3FD;
        display: block;
        float: left;
        padding: 14px 32px;
        text-align: center;
        text-decoration: none;
        transition-property: background-color;
        transition-duration: 0.25s;
    }

    .topnav a:hover {
        background-color: #ddd;
        color: black;
    }

    .topnav--active {
        background-color: #4E6472;
    }


    .main-content {
        background-color: #D8F0F2;
        display: grid;
        height: max-content;
        margin: 0 10% 0 10%;
        padding: 12px;
    }

    .main-content__paragraph {
        /* border-radius: 24px; */
        background-color: #fff;
        font-size: 1rem;
        margin: 0 18px 18px 18px;
        padding: 24px;
    }

    .button {
        background-color: #A1C2C9;
        border: none;
        font-size: 1rem;
        justify-self: center;
        padding: 12px 32px;
        width: max-content;
        transition-property: background-color;
        transition-duration: 0.25s;
    }

    .button:hover {
        background-color: #85A0A6;
        cursor: pointer;
    }

    .footer {
        background-color: #C2B4A7;
        display: grid;
        font-size: 0.75rem;
        justify-content: center;
        margin-bottom: 0;
        padding: 24px;
        text-align: center;
        width: 100%;
    }

   
} 